---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="cv" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-40 font-bold bg-gradient-to-r from-orange-600 to-orange-300 bg-clip-text text-transparent">PERFIL</div>
  </div>

  <div class="mb-10 text-justify">
    Desarrollador web frontend con pasión por crear experiencias digitales memorables 
    y visualmente impactantes. Con una formación sólida en diseño y programación, poseo la habilidad de 
    llevar a cabo proyectos desde la concepción hasta la implementación. Mi enfoque se centra en combinar 
    la estética y la funcionalidad para crear sitios web y aplicaciones que cautiven a los usuarios. 
    Busco una oportunidad que me permita fusionar mis habilidades de diseño y desarrollo para contribuir 
    al éxito de proyectos creativos y desafiantes.
  </div>

  <div class="mb-5">
    <div class="text-2xl w-40 font-bold bg-gradient-to-r from-orange-600 to-orange-300 bg-clip-text text-transparent">EDUCACION</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Primaria"
      subtitle="2003 a 2009 En Fortunata Garcia de Garcia, Tucumán, Argentina"
    />
    <TimeLineElement
      title="Secundaria"
      subtitle="2010 a 2015 en Doctor Mariano Moreno, Tucumán, Argentina"
    />
  </div>

  <div class="mb-5">
    <div class="text-2xl w-40 font-bold bg-gradient-to-r from-orange-600 to-orange-300 bg-clip-text text-transparent">FORTALEZAS</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="SEO">
    </TimeLineElement>

    <TimeLineElement
      title="UX/UI">
    </TimeLineElement>

    <TimeLineElement
      title="DISEÑO DIGITAL">
    </TimeLineElement>

    <TimeLineElement
      title="DISEÑO RESPONSIVO">
    </TimeLineElement>

    <TimeLineElement
      title="MARKETING DIGITAL">
    </TimeLineElement>

    <TimeLineElement
      title="OPTIMIZACIÓN DE IMÁGENES PARA WEB">
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-2xl w-60 font-bold bg-gradient-to-r from-orange-600 to-orange-300 bg-clip-text text-transparent">CERTIFICACIONES</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-4">
    <li>
      <a href="https://www.soydigitalmind.com/" target="_blank">Desarrollo web frontend <span class="bg-orange-400 text-white rounded-full px-1 py-1 font-semibold">DigitalMind</span></a>
    </li>
    <li>
      <a href="https://www.soydigitalmind.com/" target="_blank">Desarrollo web Backend <span class="bg-orange-400 text-white rounded-full px-1 py-1 font-semibold">DigitalMind</span></a>
    </li>
    <li>
      <a href="https://www.soydigitalmind.com/" target="_blank">Diseño UX/UI <span class="bg-orange-400 text-white rounded-full px-1 py-1 font-semibold">DigitalMind</span></a>
    </li>
    <li>
      <a href="https://www.udemy.com/" target="_blank">Master en HTML5 <span class="bg-orange-400 text-white rounded-full px-1 py-1 font-semibold">Udemy</span></a>
    </li>
    <li>
      <a href="https://www.udemy.com/" target="_blank">Diseño responsivo <span class="bg-orange-400 text-white rounded-full px-1 py-1 font-semibold">Udemy</span></a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-2xl w-80 font-bold bg-gradient-to-r from-orange-600 to-orange-300 bg-clip-text text-transparent">HABILIDADES TECNICAS</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Html</li>
    <li>Css</li>
    <li>Javascript</li>
    <li>React</li>
    <li>Bootstrap</li>
    <li>Jest</li>
    <li>Node.js</li>
    <li>Sass</li>
    <li>Scss</li>
    <li>RTL</li>
    <li>Adobe illustrator</li>
    <li>Adobe photoshop</li>
    <li>Figma</li>
    <li>Git</li>
    <li>GitHub</li>
    <li>Adobe photoshop</li>
    <li>Babel</li>
    <li>Npm</li>
    <li>Vite</li>
    <li>Tailwind css</li>
    <li>Astro</li>
    <li>Netlify</li>
    <li>Chakra-UI</li>
    <li>Next.js</li>
  </ul>

  <div class="mb-5 mt-6">
    <div class="text-2xl w-full  font-bold bg-gradient-to-r from-orange-600 to-orange-300 bg-clip-text text-transparent">HABILIDADES DE DISEÑO UX/UI</div>
  </div>

  <ul class="list-disc md:columns-1 columns-1 mx-6">
    <li>Herramientas de diseño: Figma, Adobe Photoshop, Adobe Illustrator.</li>
    <li>Métodos de investigación de usuarios: entrevistas, encuestas, pruebas de usabilidad.</li>
    <li>Diseño centrado en el usuario, wireframing, prototipado, diseño responsivo.</li>
    <li>Mapas de empatía y customer journey: Utilizados para comprender las necesidades y emociones de los usuarios, así como para visualizar su experiencia a lo largo del tiempo.</li>
    <li>Benchmarking: Comparación y análisis de las prácticas de diseño y experiencia del usuario de otras empresas o productos líderes en la industria.</li>
    <li>User-flow, Task-flow: Representaciones visuales de los pasos que un usuario sigue para completar una tarea o alcanzar un objetivo específico.</li>
    <li>Happy-path: Ruta ideal que un usuario sigue para lograr su objetivo sin encontrar obstáculos.</li>
    <li>Moodboard: Recopilación de imágenes, colores y texturas que ayudan a establecer la dirección creativa y el estilo visual de un proyecto de diseño.</li>
  </ul>

  <div class="mb-5 mt-6">
    <div class="text-2xl w-full font-bold bg-gradient-to-r from-orange-600 to-orange-300 bg-clip-text text-transparent">CONOCIMIENTOS DESEABLES</div>
  </div>

  <ul class="list-disc md:columns-1 columns-2 mx-6">
    <li>Laravel</li>
    <li>Php</li>
    <li>Crud</li>
    <li>Mysql</li>
  </ul>
  
</BaseLayout>
