---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hola👋</div>
    <div class="text-5xl font-bold bg-gradient-to-r from-orange-600 to-orange-300 bg-clip-text text-transparent">Soy Hector Sebastian Gonzalez</div>
    <div class="text-3xl py-3 font-bold">Desarrollador web frontend / Diseño digital</div>
    <div class="py-2">
      <text class="text-lg">
        Apasionado por el diseño y la tecnología, mi interés en el desarrollo web frontend me ha 
        impulsado a buscar oportunidades para expandirme y contribuir en este dinámico ámbito. 
        Estoy convencido del impacto positivo que la tecnología puede tener en nuestras vidas y estoy ansioso por seguir aprendiendo y 
        colaborar en un futuro con profesionales de la industria.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://api.whatsapp.com/send?phone=3815751945" target="_blank">¡Contáctame!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-4">Proyectos destacados <span class="text-orange-500">{"</>"}</span></div>
  </div>

  <HorizontalCard
    title="Proyecto 1"
    img="/pagina-web.jpg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://github.com/hectorgonz1997/pagina-web"
    badge="Nuevo"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Proyecto 2"
    img="/desktop-preview.jpg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://github.com/hectorgonz1997/Summary"
    badge="intermedio"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Proyecto 3"
    img="/play.jpg"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://rock-paper-scissors-kikopalomares.netlify.app/"
    badge="Juego"
  />
</BaseLayout>
