---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projectos" sideBarActiveItemID="projectos">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Mis proyectos</div>
  </div>

  <HorizontalCard
    title="proyecto 4"
    img="/pagina-web.jpg"
    desc="Desarrollé un proyecto utilizando HTML, CSS y JavaScript, con un diseño totalmente receptivo para garantizar una experiencia óptima en todos los dispositivos."
    url="https://github.com/hectorgonz1997/pagina-web"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="En proceso"
    img="/progress.gif"
    desc=""
    url=""
    badge="creando"
  />
  <HorizontalCard
    title="En proceso"
    img="/progress.gif"
    desc=""
    url=""
    badge="Creando"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="En proceso"
    img="/progress.gif"
    desc=""
    url=""
    badge="creando"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="En proceso"
    img="/progress.gif"
    desc=""
    url=""
    badge="creando"
  />
</BaseLayout>
