---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="diseño digital" sideBarActiveItemID="diseño digital">
  <div>
    <div class="text-3xl w-full font-bold mb-5 bg-gradient-to-r from-green-800 to-green-100 bg-clip-text text-transparent">Graficos comerciales</div>
    <p class="text-lg mb-6">
      El diseño de marketing es esencial para destacar en un mercado competitivo. En esta sección, 
      te mostraré cómo mis diseños ayudan a las empresas a comunicar su mensaje y atraer a su audiencia. 
      Explora ejemplos de anuncios, material promocional y más, donde la creatividad se une a la estrategia 
      para impulsar el éxito empresarial.
    </p>
  </div>

  <HorizontalCard
    title="Diseño-1"
    img="/diseño-gafico1024.jpg"
    desc="La imagen es dirigida hacia una fiambrería que tiene como objetivo estratégico potenciar las ventas al comunicar de manera efectiva la nueva venta al por menor. mi diseño contribuya significativamente a atraer y retener clientes, fortaleciendo así la posición competitiva del negocio."
    badge="Nuevo"
    url="https://www.canva.com/design/DAF-aD5T62U/ul0ZhsPtrx72pEG7r32S1Q/view"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Diseño-2"
    img="/diseño-gafico1024.jpg"
    desc="Al servicio de ACERCAR, una fábrica de materiales didácticos, diseñé una imagen para promover la venta de una silla en MDF. Mi enfoque estratégico se centró en destacar las características únicas del producto y transmitir su valor a los clientes potenciales. Con esta iniciativa, buscamos no solo impulsar las ventas, sino también fortalecer la marca y su presencia en el mercado."
    url="https://www.canva.com/design/DAGBA4eHMqk/fi4ZvmmbcLweFsn9vI-xUg/view?utm_content=DAGBA4eHMqk&utm_campaign=designshare&utm_medium=link&utm_source=editor"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Diseño-3"
    img="/diseño-gafico1024.jpg"
    desc="Imagen promocional que destaca su mercadería junto con los precios correspondientes. Mi enfoque se centró en comunicar de manera efectiva la calidad y el valor de los productos, con el objetivo de impulsar las ventas y fortalecer la posición de la distribuidora en el mercado."
    url="https://www.canva.com/design/DAGBA5W8rDU/YY7mS00_E0sXjp9_JXEeLQ/view?utm_content=DAGBA5W8rDU&utm_campaign=designshare&utm_medium=link&utm_source=editor"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Diseño-4"
    img="/diseño-gafico1024.jpg"
    desc="creé una imagen para resaltar la amplia variedad de fiambres feteados. Con el objetivo de comunicar claramente la frescura y calidad de los productos, esta iniciativa busca motivar a los clientes a realizar sus compras, fortaleciendo así su reputación y satisfacción del cliente."
    url="https://www.canva.com/design/DAGBGig1AsQ/DaCmH66-9Hk_IArVR8sTOA/view?utm_content=DAGBGig1AsQ&utm_campaign=designshare&utm_medium=link&utm_source=editor"
  />
</BaseLayout>
