---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Hector Sebastian Gonzalez
  </div>
  <div class="inline opacity-75">
    Desarrollado y diseñado por <a href="https://github.com/hectorgonz1997" target="_blank" class="font-bold">Hector Sebastian Gonzalez</a>
</footer>
<style></style>
